<p> This app was created by Paul Williams, a Melbourne-based web developer, as part of General Assembly's WDI course. For questions or comments find me on <a href="https://twitter.com/papa_whisky_">twitter</a>.</p>
<br>
<p>Beer Lab is a simple CRUD application allowing users to store, share, and discover recipes for home brewing.</p>
<br>
<p>When new recipes are added, quantities are converted to non-specific units (eg grams/Litre) and saved as a 'master copy'. When a user adds a copy of any recipe to their collection they can then adjust the total batch size and individual ingredient weights will be calculated automatically.</p>
<br>
<p>Users should be able to browse all submitted recipes with various filtering options, leave comments on recipes, and 'star' their favourites.</p>