<section class="banner">
  <p>Brew Repo is a repository for homebrewers to store, share, and discover great beer recipes.</p>
</section>

<section class="index-options">
  <a href="/signup">Sign Up</a>
  <p>to get started,</p>
  <p>or <a href="/recipes">browse as a guest.</a></p>
  <p>Already a member? <a href="/login">Log in here.</a></p>
</section>
