<section class="banner">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum unde voluptas reprehenderit illum ab harum, ut incidunt dolores quibusdam, veniam pariatur ex voluptatibus optio, deserunt doloribus. Voluptatum nam nemo maiores.</p>
</section>

<section class="options">
  <a href="/signup">sign up</a>
  <p>to get started,</p>
  <p>or <a href="#">browse as a guest.</a></p>
  <p>Already a member? <a href="#">Log in here.</a></p>
</section>
