<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/overcast/jquery-ui.css">
  <link rel="stylesheet" href="/styles/main.css">

  <title>Beer Lab</title>
</head>

<body>

<div class="page-wrapper">
  <header>
    <a href="/">beer lab</a>
    <button class="menu">&#9776;</button>
  </header>

  <div class="menu-wrapper">
    <nav>
      <p class="close">X</p>
      <% if logged_in? %>
        <p class="username">Hi, <%= current_user.username %>!</p>
        <a href="/recipes">Browse</a>
        <a href="/recipes/new">Add New</a>
        <form action="/login" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Log Out</button>
        </form>
      <% else %>
        <p class="username">Hi, guest!</p>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      <% end %>
    </nav>
  </div>

  <main>
    <%= yield %>
  </main>

  <footer>
    <a href="#">about</a>
    <a href="#">help/faq</a>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/scripts/main.js"></script>

</body>
</html>
