<form action="/login" method="post" class="login">
  <p>username</p>
  <input name="username" type="text">
  <p>password</p>
  <input name="password" type="password">
  <button>log in</button>
</form>
