<h2>New Recipe</h2>

<form action="/recipes/new" method="post">
  <label>name</label><input type="text" name="name">
  <label>style</style><input type="text" name="style">
  <label>volume</style><input type="text" name="volume">
  
  <p>fermentables</p>
  <label>name</label><input type="text" name="fermentable1">
  <label>PPG</label><input type="text" name="ppg1">
  <label>SRM</label><input type="text" name="srm1">
  <label>Weight</label><input type="text" name="f_weight1">

  <p>hops</p>
  <label>name</label><input type="text" name="hop1">
  <label>AA%</label><input type="text" name="aa1">
  <label>time</label><input type="text" name="time1">
  <label>Weight</label><input type="text" name="h_weight1">

  <p>mash & yeast</p>
  <label>Mash temp</label><input type="text" name="mash_temp">
  <label>mash time</label><input type="text" name="mash_time">
  <label>yeast</label><input type="text" name="yeast">
  <label>attenuation</label><input type="text" name="attenuation">
  <label>ferment temp</label><input type="text" name="ferment_temp">

  <button>submit</button>
</form>
