<h2>my recipes</h2>

<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <div class="name">
      <p><%= recipe.master_recipe.name %></p>
      <p><%= recipe.master_recipe.style.name %></p>
    </div>
    <img src="" alt="color">
    <p>ABV</p>
    <p>IBU</p>
    <a href="/<%= @username %>/<%= recipe.id %>">More...</a>
  </div>
<% end %>
