@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Sans+Pro');
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.page-wrapper {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-flow: row wrap;
  color: #090809;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: #ECEBE4;
}

main {
  margin-top: 5em;
  width: 100%;
}

/* Header Styles: */

header {
  display: flex;
  flex-flow: row wrap;  
  width: 100%;
  background: #FF312E;
  height: 4em;
  box-shadow: 0 0 1em .1em rgba(0, 0, 0, 0.5);
  position: fixed;
}

header a {
  text-decoration: none;
  color: #090809;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25em;
  width: 60%;
}

.logo {
  max-width: 20%;
}

img {
  max-height: 100%;
  max-width: 4em;
}

.menu {
  width: 20%;
  border: none;
  background: none;
  font-size: 1.5em;
  opacity: .75;
  outline: none;
  cursor: pointer;
}

/* Menu Styles: */

.menu-wrapper {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, .7);
  transition: left .3s ease-in-out;
}

nav {
  background: #93A3B1;
  min-width: 50%;
  padding: 1em;
}

.close {
  font-size: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.username {
  font-size: 1.25em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

nav a {
  display: block;
  text-decoration: none;
  color: #090809;
  padding: .75em 0;
  border-bottom: 1px solid grey;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

nav button {
  border: none;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  text-decoration: none;
  color: #090809;
  padding: .75em 0;
  border-bottom: 1px solid grey;
  width: 100%;
  font-size: 1em;
  text-align: left;
  outline: none;
  cursor: pointer;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Footer Styles: */

footer {
  display: flex;
  width: 100%;
  height: 2em;
  align-self: flex-end;
  border-top: 1px solid grey;
  background: rgba(0, 0, 0, .25)
}

footer a {
  width: 50%;
  text-align: center;
  line-height: 2;
  text-decoration: none;
  color: #090809;
}

footer a:first-child {
  border-right: 1px solid grey;
}

footer a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Index Styles: */

.banner {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 1em 0;
  padding: 1.25em 1em;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.index-options {
  text-align: center;
  margin-top: 4em;
}

.index-options > a:first-child {
  font-size: 1.2em;
  text-decoration: none;
  color: #090809;
  border: 1px solid grey;
  border-radius: .5em;
  padding: .5em 2em;
  background: #93A3B1;
}

.index-options p:first-of-type {
  margin-top: 1.6em;
}

.index-options p:last-of-type {
  margin-top: 2.5em;
  font-size: .9em;
}

/* Recipe Card Styles: */

.recipe-card {
  border: 1px solid grey;
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.recipe-card .name {
  width: 80%;
  border-right: 1px solid grey;
}

.name p {
  height: 50%;
}

.recipe-card .name p:first-child {
  border-bottom: 1px solid grey;
  font-weight: bold;
}

.srm {
  width: 16%;
  height: 0;
  padding-bottom: 16%;
  border-radius: 100%;
  margin: 2%;
}

.recipe-card p {
  padding: .3em;
}

.recipe-card > p {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  width: 33.3333333%;
}

.recipe-card a {
  display: block;
  width: 33.333333%;
  border-top: 1px solid grey;
  color: #090809;
  line-height: 1.5;
}

/* User Home + Browse All Styles: */

main > h2 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1em 5%;
  font-size: 1.1em;
}

/* Show Full Recipe Styles: */

.title {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: .1em 5%;
    font-size: 1.1em;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
}

.title .name {
  width: 80%;
}

.title .name p:first-child {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.stats, .fermentables, .hops, .yeast-mash-info, .buttons {
  border: 1px solid grey;
  width: 90%;
  margin: .2em auto 1em auto;
  display: flex;
  flex-flow: row wrap;
}

main > h3 {
  padding-left: 5%;
}

.stats p {
  width: 25%;
  text-align: center;
  padding: .25em;
}

.top-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  padding: .5em 0;
}

h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: .5em;
}

h4:first-child {
  border-top: none;
}

.fermentables p {
  width: 50%;
  text-align: center;
  padding: .25em;
}

.hops p {
  width: 33.3333333%;
  text-align: center;
  padding: .25em;
}

.yeast-mash-info {
  display: block;
  padding: .5em;
  margin-bottom: 0;
}

.yeast-mash-info p {
  padding: .25em 0;
}

.buttons {
  margin-top: 0;
  border-top: none;
}

.buttons > p, .buttons > form {
  width: 50%;
  text-align: center;
}

.buttons p {
  border-right: 1px solid grey;
  cursor: pointer;
  line-height: 1.5;
}

.buttons a {
  text-decoration: none;
  color: #090809;
}

.buttons p:hover {
  background: rgba(0, 0, 0, 0.5);
}

.buttons button {
  border: none;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #090809;
  width: 100%;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

.buttons form:hover {
  background: rgba(0, 0, 0, 0.5);
}

.add-button {
  display: block;
  background: none;
  width: 90%;
  margin: 0 auto 1em auto;
  border: 1px solid grey;
  border-top: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #090809;
  font-size: 1em;
  padding: .25em;
  cursor: pointer;
}

.add-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Signup + Login Page Styles: */
.user-details {
  width: 90%;
  margin: 3em auto;
  background: #93A3B1;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details input {
  width: 50%;
  margin-top: 2em;
}

.user-details button {
  border: none;
  margin: 1em 0;
  background: #090809;
  color: #ECEBE4;
  padding: .5em 2em;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: .5em;
}
